@import url(https://fonts.googleapis.com/css?family=Jomolhari&display=swap);
body {
  margin: 0;
  font-family: 'Jomolhari', system-ui; }

.information {
  display: flex;
  flex-direction: row;
  font-size: 182%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 97px 0; }

.information img {
  width: 20%; }

.clothesMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 176%; }

.clothesMenu img {
  width: 94%;
  height: 90%; }

.clothesMenu-men {
  height: 469px;
  width: 254px;
  background: #6262bb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s; }

.clothesMenu-men__container, .clothesMenu-women__container {
  margin-top: 4%;
  height: 100%;
  display: flex;
  transition: .6s;
  justify-content: space-between;
  color: white; }

.clothesMenu__container a {
  list-style: none;
  text-decoration: none; }

.clothesMenu-men__container {
  justify-content: flex-start; }

.clothesMenu-men__container:hover {
  background: #6262bb; }

.clothesMenu-women__container:hover {
  background: #bb627d; }

.clothesMenu-women__container {
  justify-content: flex-end; }

.clothesMenu-women {
  height: 469px;
  width: 254px;
  background: #bb627d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s; }

.clothesMenu__container {
  width: 100%;
  display: flex;
  justify-content: center; }

.hero {
  display: contents; }

.hero-img__container {
  height: 500px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden; }

.hero-img {
  height: 500px;
  object-fit: cover;
  animation-name: Hero;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  position: relative;
  left: 0; }

.hero img {
  height: 100%; }

@keyframes Hero {
  0% {
    left: 0; }
  20% {
    left: 0; }
  25% {
    left: -25%; }
  45% {
    left: -25%; }
  50% {
    left: -50%; }
  70% {
    left: -50%; }
  75% {
    left: -75%; }
  85% {
    left: -75%; }
  99% {
    left: -100%; }
  100% {
    left: 0; } }

.hero-div {
  background: #0e0d0d;
  color: white;
  display: flex;
  height: 5%;
  justify-content: center;
  align-items: center; }

.header {
  display: grid;
  height: 10%;
  background: #181818;
  align-items: center;
  color: white;
  grid-template-columns: 50% 50%; }

.header a {
  text-decoration: none;
  color: white; }

.header h1 {
  margin: 0; }

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center; }

.header__img {
  width: 4%; }

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }

.header-menu li {
  cursor: pointer;
  transition: .4s; }

.header-menu li:hover {
  background-color: #5353cc; }

.footer {
  height: 50px;
  background: #0c0c0c;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 1% 0; }

.footer img {
  height: 100%; }

.clothes__name {
  display: flex;
  justify-content: center; }

.clothes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 276px);
  justify-content: center;
  grid-gap: 17px; }

.clothes-card {
  width: 100%;
  display: grid;
  justify-items: center;
  background: #242424;
  color: white;
  height: fit-content;
  transition: .4s; }

.clothes-card:hover {
  transform: scale(1.1); }

.clothes-card img {
  margin-top: 4%;
  width: 90%; }

.clothes-card__information {
  display: flex;
  width: 100%;
  justify-content: space-evenly; }

.AboutUs {
  display: grid;
  justify-items: center; }

.AboutUs-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  width: 51%;
  background: #f2f2f2;
  justify-content: center;
  margin: 2% 0;
  box-shadow: 4px 4px 4px #000000b5; }

.AboutUs-item img {
  width: 200px; }

